pipeline/BizVaultTest.json
{
	"name": "BizVaultTest",
	"properties": {
		"activities": [
			{
				"name": "GetBizTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT DISTINCT TABLE_NAME FROM INFORMATION_SCHEMA.COLUMNS \nWHERE TABLE_SCHEMA='biz'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "data_vault_db",
						"type": "DatasetReference",
						"parameters": {
							"TABLE_NAME": "INFORMATION_SCHEMA.COLUMNS",
							"SCHEMA_NAME": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetBizTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetBizTables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "VaultTestNotebook",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/caelum/lowell.caelum.cdp.databricks/automation-testing/test_vault",
								"baseParameters": {
									"table_name": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									},
									"run_id": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"zone": "biz"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Testing_Pipelines/VaultTest"
		},
		"annotations": []
	}
}