pipeline/raw_dv_hubs.json
{
	"name": "raw_dv_hubs",
	"properties": {
		"activities": [
			{
				"name": "HubGetMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT m.*, h.HUB_NAME, h.SCHEMA_NAME \nFROM adf_metastore.dv.dv_hub_map m\njoin adf_metastore.dv.dv_hubs h on h.HUB_ID = m.HUB_ID",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Metastore_v2",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "dv_hubs",
							"schema_name": "dv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopHubs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "HubGetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('HubGetMetadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "HubLoad",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[HUB_GEN]",
								"storedProcedureParameters": {
									"job_id": {
										"value": {
											"value": "@pipeline().parameters.MasterRunID",
											"type": "Expression"
										},
										"type": "String"
									},
									"pk_list": {
										"value": {
											"value": "@item().PK_LIST",
											"type": "Expression"
										},
										"type": "String"
									},
									"record_source": {
										"value": {
											"value": "@item().RECORD_SOURCE",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_schema": {
										"value": {
											"value": "@item().SOURCE_SCHEMA",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_table": {
										"value": {
											"value": "@item().SOURCE_TABLE",
											"type": "Expression"
										},
										"type": "String"
									},
									"target_schema": {
										"value": "@item().SCHEMA_NAME",
										"type": "String"
									},
									"target_table": {
										"value": {
											"value": "@item().HUB_NAME",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "synwlwcaelumdevdw_private",
								"type": "LinkedServiceReference",
								"parameters": {
									"database_name": "synlwcaelumdevdwsql"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"MasterRunID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Caelum_Pipelines/data_warehouse/data vault/raw vault"
		},
		"annotations": []
	}
}