pipeline/reference_source_to_transient_pipeline.json
{
	"name": "reference_source_to_transient_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get_File_Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "testFileSystem_Rares_Param",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat(pipeline().parameters.table_name,'.csv')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "GetTableMetadata",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get_File_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetTableMetadata]",
						"storedProcedureParameters": {
							"SourceName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.source",
									"type": "Expression"
								}
							},
							"TableName": {
								"type": "String",
								"value": {
									"value": "@replace(activity('Get_File_Metadata').output.ItemName, '.csv', '')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Metastore_tablelist",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CheckDate",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetTableMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MasterRunIDSet",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetDay",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetYear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(ticks(activity('Get_File_Metadata').output.lastModified),ticks(activity('GetTableMetadata').output.firstRow.max_timestamp))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ExtractColumnsFileMetastore_Dummy",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ExtractColumnsFileMetadata_Dummy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "columns_metadata",
								"value": {
									"value": "@json('[\"Output2\"]')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ExtractColumnsFileMetadata_Dummy",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "columns_file",
								"value": {
									"value": "@json('[\"Output1\"]')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "UpdateMetadata",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CopyDataFromFileSystem_csv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "UPDATE adf_metastore.dbo.table_list SET max_timestamp='@{activity('Get_File_Metadata').output.lastModified}',\nmax_index=@{activity('CopyDataFromFileSystem_csv').output.rowsCopied},\nprev_max_index=@{activity('GetTableMetadata').output.firstRow.max_index} \nWHERE table_name='@{activity('GetTableMetadata').output.firstRow.table_name}'; \nSELECT 1\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Metastore",
									"type": "DatasetReference",
									"parameters": {
										"table_name": "''"
									}
								}
							}
						},
						{
							"name": "CopyDataFromFileSystem_csv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "testFileSystem_Rares_Param",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(activity('GetTableMetadata').output.firstRow.table_name,'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "caelum_data_lake_csv",
									"type": "DatasetReference",
									"parameters": {
										"country": {
											"value": "@activity('GetTableMetadata').output.firstRow.country_name",
											"type": "Expression"
										},
										"zone": {
											"value": "@pipeline().globalParameters.transient_zone_name",
											"type": "Expression"
										},
										"source": {
											"value": "@pipeline().parameters.source",
											"type": "Expression"
										},
										"year": {
											"value": "@variables('year')",
											"type": "Expression"
										},
										"month": {
											"value": "@variables('month')",
											"type": "Expression"
										},
										"day": {
											"value": "@variables('day')",
											"type": "Expression"
										},
										"table": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"file_timestamp": {
											"value": "@variables('timestamp')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "TransientGetMetadata",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "UpdateMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "caelum_data_lake_csv",
									"type": "DatasetReference",
									"parameters": {
										"country": {
											"value": "@activity('GetTableMetadata').output.firstRow.country_name",
											"type": "Expression"
										},
										"zone": {
											"value": "@pipeline().globalParameters.transient_zone_name",
											"type": "Expression"
										},
										"source": {
											"value": "@pipeline().parameters.source",
											"type": "Expression"
										},
										"year": {
											"value": "@formatDateTime(variables('date'),'yyyy')",
											"type": "Expression"
										},
										"month": {
											"value": "@formatDateTime(variables('date'),'MM')",
											"type": "Expression"
										},
										"day": {
											"value": "@formatDateTime(variables('date'),'dd')",
											"type": "Expression"
										},
										"table": {
											"value": "@replace(activity('Get_File_Metadata').output.ItemName, '.csv', '')",
											"type": "Expression"
										},
										"file_timestamp": {
											"value": "@formatDateTime(variables('date'),'yyyyMMddhhmmss')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"structure"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "RetrieveMetadataFileSchema",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "UpdateMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT (\n      SELECT column_name AS [name], 'String' as [type]\n\t  FROM reference_schema\n      WHERE file_name = '@{activity('GetTableMetadata').output.firstRow.table_name}'\n      FOR JSON AUTO\n) AS structure",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Metastore",
									"type": "DatasetReference",
									"parameters": {
										"table_name": "''"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "ExtractColumnsFileMetastore",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "RetrieveMetadataFileSchema",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "columns_metadata",
								"value": {
									"value": "@json(activity('RetrieveMetadataFileSchema').output.value[0].structure)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ExtractColumnsFileMetadata",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TransientGetMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "columns_file",
								"value": {
									"value": "@json(string(activity('TransientGetMetadata').output.structure))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "UpdatePipelineLog",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CopyDataFromFileSystem_csv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlMISource",
									"sqlReaderQuery": {
										"value": "INSERT INTO [adf_metastore].[dbo].[pipeline_log]\nSELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{variables('MasterRunID')}' as RunId,\n'Source-To-@{pipeline().globalParameters.transient_zone_name}' StepName,\n'source.@{pipeline().parameters.table_name}' as Source,\n'@{pipeline().globalParameters.transient_zone_name}.@{pipeline().parameters.table_name}' as Destination,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('CopyDataFromFileSystem_csv').output.rowsCopied}' as rowsCopied,\n'@{activity('CopyDataFromFileSystem_csv').output.rowsRead}' as RowsRead,\n'@{activity('CopyDataFromFileSystem_csv').output.usedParallelCopies}' as No_ParallelCopies,\n'@{activity('CopyDataFromFileSystem_csv').output.copyDuration}' as copyDuration_in_secs,\n'@{activity('CopyDataFromFileSystem_csv').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].source.type}' as Source_Type,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].sink.type}' as Sink_Type,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].start}' as CopyActivity_Start_Time,\n'@{utcnow()}' as CopyActivity_End_Time,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_queuingDuration_in_secs,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivity_timeToFirstByte_in_secs,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_transferDuration_in_secs\n,'@{pipeline().parameters.table_name}' as table_name\n--,' ' as output_url\nUNION\nSELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{variables('MasterRunID')}' as RunId,\n'SourceCount' StepName,\n'source.@{pipeline().parameters.table_name}' as Source,\n'@{pipeline().globalParameters.transient_zone_name}.@{pipeline().parameters.table_name}' as Destination,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('CopyDataFromFileSystem_csv').output.rowsCopied}' as rowsCopied,\n'NULL' as RowsRead,\n'@{activity('CopyDataFromFileSystem_csv').output.usedParallelCopies}' as No_ParallelCopies,\n'@{activity('CopyDataFromFileSystem_csv').output.copyDuration}' as copyDuration_in_secs,\n'@{activity('CopyDataFromFileSystem_csv').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].source.type}' as Source_Type,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].sink.type}' as Sink_Type,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].start}' as CopyActivity_Start_Time,\n'@{utcnow()}' as CopyActivity_End_Time,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_queuingDuration_in_secs,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivity_timeToFirstByte_in_secs,\n'@{activity('CopyDataFromFileSystem_csv').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_transferDuration_in_secs\n,'@{pipeline().parameters.table_name}' as table_name\n;\nSELECT * FROM [adf_metastore].[dbo].[pipeline_log]\nWHERE pipeline_name='@{pipeline().RunId}'",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Metastore",
									"type": "DatasetReference",
									"parameters": {
										"table_name": "pipeline_log"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "DateConditionalSet",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(pipeline().parameters.date)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SetCurrentTimestampFromParam_copy1_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "date",
								"value": {
									"value": "@pipeline().parameters.date",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SetCurrentTimestamp_copy1_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "date",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "MasterRunIDSet",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(pipeline().parameters.MasterRunID)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SetMasterRunID_copy1_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MasterRunID",
								"value": {
									"value": "@pipeline().parameters.MasterRunID",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SetCurrentMasterRunID_copy1_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MasterRunID",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "CheckSchemaEquality",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('columns_file')[0],variables('columns_metadata')[0])",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set_Var_False",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SchemaValidation",
								"value": "False"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set_Var_True",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SchemaValidation",
								"value": "True"
							}
						},
						{
							"name": "DataFlowConvertCsvtoParquet",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Set_Var_True",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "data_reference_conversion",
									"type": "DataFlowReference",
									"parameters": {
										"table_name": {
											"value": "'@{pipeline().parameters.table_name}'",
											"type": "Expression"
										},
										"timestamp": {
											"value": "'@{variables('timestamp')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"ReferenceDataCSV": {
											"country": {
												"value": "@activity('GetTableMetadata').output.firstRow.country_name",
												"type": "Expression"
											},
											"zone": {
												"value": "@pipeline().globalParameters.transient_zone_name",
												"type": "Expression"
											},
											"source": {
												"value": "@pipeline().parameters.source",
												"type": "Expression"
											},
											"year": {
												"value": "@variables('year')",
												"type": "Expression"
											},
											"month": {
												"value": "@variables('month')",
												"type": "Expression"
											},
											"day": {
												"value": "@variables('day')",
												"type": "Expression"
											},
											"table": {
												"value": "@pipeline().parameters.table_name",
												"type": "Expression"
											},
											"file_timestamp": {
												"value": "@variables('timestamp')",
												"type": "Expression"
											}
										},
										"SinkCsvToParquet": {
											"country": {
												"value": "@activity('GetTableMetadata').output.firstRow.country_name",
												"type": "Expression"
											},
											"zone": {
												"value": "@pipeline().globalParameters.transient_zone_name",
												"type": "Expression"
											},
											"source": {
												"value": "@pipeline().parameters.source",
												"type": "Expression"
											},
											"year": {
												"value": "@variables('year')",
												"type": "Expression"
											},
											"month": {
												"value": "@variables('month')",
												"type": "Expression"
											},
											"day": {
												"value": "@variables('day')",
												"type": "Expression"
											},
											"table": {
												"value": "@pipeline().parameters.table_name",
												"type": "Expression"
											},
											"file_timestamp": {
												"value": "@variables('timestamp')",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "ahir-lw-caelum-dev-dw-02",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "SetYear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DateConditionalSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "year",
					"value": {
						"value": "@formatDateTime(variables('date'),'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetMonth",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DateConditionalSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "month",
					"value": {
						"value": "@formatDateTime(variables('date'),'MM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetDay",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DateConditionalSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "day",
					"value": {
						"value": "@formatDateTime(variables('date'),'dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetTimestamp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DateConditionalSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "timestamp",
					"value": {
						"value": "@formatDateTime(variables('date'),'yyyyMMddhhmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CheckLoadTypeReferenceData",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckSchemaEquality",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(string(activity('GetTableMetadata').output.firstRow.load_type), 'last_version'), equals(variables('SchemaValidation'), 'True'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DeleteOldFilesFromRaw",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "caelum_data_lake_purge",
									"type": "DatasetReference",
									"parameters": {
										"country": {
											"value": "@activity('GetTableMetadata').output.firstRow.country_name",
											"type": "Expression"
										},
										"zone": {
											"value": "@pipeline().globalParameters.raw_zone_name",
											"type": "Expression"
										},
										"source": {
											"value": "@pipeline().parameters.source",
											"type": "Expression"
										},
										"year": {
											"value": "*",
											"type": "Expression"
										},
										"month": {
											"value": "*",
											"type": "Expression"
										},
										"day": {
											"value": "*",
											"type": "Expression"
										},
										"table": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"file_timestamp": {
											"value": "*",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "dlalwcaelumdevdw01",
										"type": "LinkedServiceReference"
									},
									"path": "fs01-dlalwcaelumdevdw01/purge_logs/reference_purge"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "DeleteOldFilesFromTrusted",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "DeleteOldFilesFromRaw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "caelum_data_lake_purge",
									"type": "DatasetReference",
									"parameters": {
										"country": {
											"value": "@activity('GetTableMetadata').output.firstRow.country_name",
											"type": "Expression"
										},
										"zone": {
											"value": "@pipeline().globalParameters.trusted_zone_name",
											"type": "Expression"
										},
										"source": {
											"value": "@pipeline().parameters.source",
											"type": "Expression"
										},
										"year": {
											"value": "*",
											"type": "Expression"
										},
										"month": {
											"value": "*",
											"type": "Expression"
										},
										"day": {
											"value": "*",
											"type": "Expression"
										},
										"table": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"file_timestamp": {
											"value": "*",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "dlalwcaelumdevdw01",
										"type": "LinkedServiceReference"
									},
									"path": "fs01-dlalwcaelumdevdw01/purge_logs/reference_purge"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"source": {
				"type": "string"
			},
			"date": {
				"type": "string"
			},
			"MasterRunID": {
				"type": "string"
			},
			"table_name": {
				"type": "string",
				"defaultValue": "RPC_PTP_FinnishCode"
			}
		},
		"variables": {
			"nested_source": {
				"type": "String"
			},
			"date": {
				"type": "String"
			},
			"MasterRunID": {
				"type": "String"
			},
			"SchemaValidation": {
				"type": "String"
			},
			"columns_metadata": {
				"type": "Array"
			},
			"columns_file": {
				"type": "Array"
			},
			"year": {
				"type": "String"
			},
			"day": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"timestamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Caelum_Pipelines/2 transient_to_raw_to_trusted/1 source_to_transient"
		},
		"annotations": []
	}
}