pipeline/resumeSynapse.json
{
	"name": "resumeSynapse",
	"properties": {
		"description": "resume the shield_db",
		"activities": [
			{
				"name": "GetSubscription",
				"description": "test",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetSQLPoolName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetWorkspaceName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com/subscriptions?api-version=2020-01-01",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "SetParsedSubscription",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetSubscription",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "subscriptionID",
					"value": {
						"value": "@replace(activity('GetSubscription').output.value[0].id,'/subscriptions/','')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetResourceGroup",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetSubscription",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ResourceGroup",
					"value": {
						"value": "@pipeline().globalParameters.adf_resource_group_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetSQLPoolName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SQLPoolName",
					"value": {
						"value": "synlwcaelumdevdwsql",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetWorkspaceName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkspaceName",
					"value": {
						"value": "syn-lw-caelum-dev-dw",
						"type": "Expression"
					}
				}
			},
			{
				"name": "resumeDW",
				"description": "",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetParsedSubscription",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetResourceGroup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',variables('subscriptionID'),'/resourceGroups/',variables('ResourceGroup'),'/providers/Microsoft.Synapse/workspaces/',variables('WorkspaceName'),'/sqlPools/',variables('SQLPoolName'),'/Resume?api-version=2019-06-01-preview')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@json('{ }')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			}
		],
		"variables": {
			"subscriptionID": {
				"type": "String"
			},
			"ResourceGroup": {
				"type": "String"
			},
			"counter": {
				"type": "String"
			},
			"SQLPoolName": {
				"type": "String"
			},
			"WorkspaceName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Testing_Pipelines"
		},
		"annotations": []
	}
}