pipeline/table_rollback_iterator.json
{
	"name": "table_rollback_iterator",
	"properties": {
		"activities": [
			{
				"name": "TableIngestion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "rollback",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source": "NOVA",
									"table_name": {
										"value": "@item().table_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_name\nFROM [adf_metastore].[dbo].[table_list]\nWHERE active_flag=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Metastore_tablelist",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"source": {
				"type": "string",
				"defaultValue": "NOVA"
			}
		},
		"variables": {
			"table_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Caelum_Pipelines/utilities"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-10T20:05:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}